*{
    font-family: sans-serif;
    font-weight: 100;
}

body{
    background: no-repeat fixed 50% 50% url('');
    background-size: cover;
}

.contenedor{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 150vh;
    text-align: justify;
}

.header, .main, .footer{
    padding: 20px;
}

.header{
    text-align: center;
}

.header img{
    width: 500px;
}


.img-footer img{
    width: 400px;
    vertical-align: middle;
}

form textarea{
    max-height: 200px;
}



@media screen and (max-width:600px){

h1{
    font-size: 30px;
}
.contenedor{
margin: 0 auto;
display: flex;
flex-direction: column;
height: 40vh;
width: 40vh;
text-align: justify;
}

.header, .main, .footer{
padding: 10px;
}

.header{
    text-align: center;
    padding: 20px;
    /* background: lightblue; */
}

.header img{
    width: 230px;
}


.img-footer img{
    width: 130px;
    vertical-align: middle;
}

form textarea{
    max-height: 200px;
}

}